.patient-registration{
    padding-top: 8px;
    padding-bottom: 38px;
    position: relative;
    overflow-y: scroll;
}
.registration__qualification{
    grid-column: 1/3;
}
.registration__expertise{
    position: relative;
    grid-row: 6;
    grid-column: 1/3;
}
.registration__expertise__btn{
    line-height: 100px;
    justify-self: center;
    grid-row: 6;
    grid-column: 3/-1;
}
.registration__header{
    text-align: center;
}
::-webkit-scrollbar{
    display: none;
}
.registration--personal--details,
.registration--address--details{
    border-bottom: 2px solid white;
}
.registration--address--details{
    line-height: 90px;
}
.registration-container{
    display: grid;
    grid-auto-rows: auto;
    grid: 50px repeat(5,auto)  / repeat(3,1fr);
    grid-auto-rows: fit-content;
    width: 600px;
    gap:1rem;
    background: var(--bg-elements);
    color: var(--main-text-color-l);
    border-radius: var(--border-radis);
    margin: 0 auto;
    padding: 2rem;
}
.registration__label,
.registration__input{
    display: block;
    width: 100%;
}
.registration__email__patient{
    grid-column: 1/3;
}
.registration__input{
    text-indent: 10px;
    border: none;
    outline: none;
    width: 100%;
    font-family: inherit;
    border-radius: var(--border-radis);
    margin-block:10px ;
    height: 35px;
}
.registration__expertise__display{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.array__elements{
    display: inline-block;
    height: auto;
    background: #77FF95;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-text-color-d-medium);
    font-weight: 500;
    padding: 0 5px;
    border-radius: var(--border-radis);
    flex: 1 auto;
    text-align: center;
}
/* .input--error{
    outline: 2px solid rgb(240, 100, 76);
    color: tomato;
} */
.registration__btn{
    display: inline-block;
    width: fit-content;
    text-align: center;
    border-radius: var(--border-radis);
    padding: 0 12px;
    margin-left: 10px;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    border: none;
    outline: none;
    font-family: inherit;
}
.input--size--limit{
    max-width: 400px;
    display: inline-block;
}
.registration__personal__details{
    grid-row: 1;
}
.registration__address__details{
    grid-row: 7;
}
.registration__allergies{
    grid-row: 3;
    grid-column: 1/3;
}
.add-allrgies--btn{
    grid-row: 3;
    grid-column: 3/-1;
    justify-self: end;
    margin-top: 35px;
}

.registration__hypertension{
    grid-row: 5;
    grid-column: 1/3;
}
.grid--column--extended{
    grid-column: 1/-1;
}
.registration__selectable__fileds{
    grid-row: 4;
    grid-column: 1/3;
}
.registration__selectable__fileds div input{
    font-family: inherit;
   border: none;
   outline: none;
   margin: 5px 10px;
}
.registration__selectable__fileds div label{
    font-weight: 500;
}

.registration__gender{
    margin-right: 20px;
    font-weight: 500;
}
.btn--submit{
    text-indent: 0;
    margin: 0;
    width: 100%;
}
